Django>=2.2.0
psycopg2
djongo
pandas
numpy
requests
praw
django-cors-headers
sklearn
spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
textblob
torch
transformers
